body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-7px;
  width:1913px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1913px;
  height:909px;
}
#u0 {
  position:absolute;
  left:7px;
  top:3px;
  width:1913px;
  height:909px;
}
#u1 {
  position:absolute;
  left:2px;
  top:446px;
  width:1909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2 {
  position:absolute;
  left:280px;
  top:428px;
  width:32px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u4 {
  position:absolute;
  left:255px;
  top:465px;
  width:81px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:256px;
  top:417px;
  width:81px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6_ann {
  position:absolute;
  left:330px;
  top:413px;
  width:1px;
  height:1px;
}
