body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-7px;
  width:1913px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1913px;
  height:909px;
}
#u276 {
  position:absolute;
  left:7px;
  top:3px;
  width:1913px;
  height:909px;
}
#u277 {
  position:absolute;
  left:2px;
  top:446px;
  width:1909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u278 {
  position:absolute;
  left:291px;
  top:428px;
  width:32px;
  height:32px;
}
#u279 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u280 {
  position:absolute;
  left:255px;
  top:465px;
  width:101px;
  height:11px;
  font-size:10px;
  color:#666666;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u282 {
  position:absolute;
  left:255px;
  top:411px;
  width:101px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u282_ann {
  position:absolute;
  left:349px;
  top:407px;
  width:1px;
  height:1px;
}
