body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-7px;
  width:1913px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1913px;
  height:909px;
}
#u7 {
  position:absolute;
  left:7px;
  top:3px;
  width:1913px;
  height:909px;
}
#u8 {
  position:absolute;
  left:2px;
  top:446px;
  width:1909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1290px;
  top:609px;
  width:363px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:257px;
  background:inherit;
  background-color:rgba(184, 185, 187, 0.988235294117647);
  border:none;
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:160px;
  top:308px;
  width:800px;
  height:257px;
}
#u11 {
  position:absolute;
  left:2px;
  top:120px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-size:72px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:226px;
  top:340px;
  width:577px;
  height:166px;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-size:72px;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:1422px;
  top:676px;
  width:119px;
  height:34px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
