
#u55982 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u55983 {
  position:absolute;
  left:1609px;
  top:835px;
  width:45px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u55984 {
  position:absolute;
  left:8px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u55985 {
  position:absolute;
  left:1654px;
  top:835px;
  width:63px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u55986 {
  position:absolute;
  left:8px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u55987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u55987 {
  position:absolute;
  left:1776px;
  top:835px;
  width:33px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u55988 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u55989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:109px;
}
#u55990 {
  position:absolute;
  left:1768px;
  top:529px;
  width:109px;
  height:109px;
}
#u55991 {
  position:absolute;
  left:56px;
  top:24px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u55992 {
  position:absolute;
  left:1770px;
  top:531px;
  width:105px;
  height:105px;
}
#u55993 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u55994 {
  position:absolute;
  left:1770px;
  top:531px;
  width:105px;
  height:105px;
}
#u55995 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u55996 {
  position:absolute;
  left:1782px;
  top:543px;
  width:80px;
  height:80px;
}
#u55997 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u55998 {
  position:absolute;
  left:1798px;
  top:560px;
  width:48px;
  height:56px;
  text-align:center;
  line-height:28px;
}
#u55999 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u56000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u56001 {
  position:absolute;
  left:1763px;
  top:73px;
  width:63px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u56002 {
  position:absolute;
  left:12px;
  top:5px;
  width:43px;
  word-wrap:break-word;
}
#u56001_ann {
  position:absolute;
  left:1819px;
  top:69px;
  width:1px;
  height:1px;
}
#u56003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u56003 {
  position:absolute;
  left:1805px;
  top:83px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u56004 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u56005 {
  position:absolute;
  left:1836px;
  top:73px;
  width:63px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u56006 {
  position:absolute;
  left:12px;
  top:5px;
  width:43px;
  word-wrap:break-word;
}
#u56007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u56007 {
  position:absolute;
  left:1878px;
  top:83px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u56008 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56010_img {
  position:absolute;
  left:-4px;
  top:-3px;
  width:144px;
  height:84px;
}
#u56010 {
  position:absolute;
  left:360px;
  top:643px;
  width:136px;
  height:76px;
}
#u56011 {
  position:absolute;
  left:2px;
  top:30px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56010_ann {
  position:absolute;
  left:489px;
  top:639px;
  width:1px;
  height:1px;
}
#u56012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56013 {
  position:absolute;
  left:372px;
  top:651px;
  width:68px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56014 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u56015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u56016 {
  position:absolute;
  left:372px;
  top:678px;
  width:6px;
  height:6px;
}
#u56017 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56018 {
  position:absolute;
  left:386px;
  top:671px;
  width:74px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56019 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u56020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u56021 {
  position:absolute;
  left:372px;
  top:696px;
  width:6px;
  height:6px;
}
#u56022 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56023 {
  position:absolute;
  left:386px;
  top:691px;
  width:98px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56024 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u56025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56026_img {
  position:absolute;
  left:-4px;
  top:-3px;
  width:144px;
  height:69px;
}
#u56026 {
  position:absolute;
  left:505px;
  top:266px;
  width:136px;
  height:61px;
}
#u56027 {
  position:absolute;
  left:2px;
  top:22px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56026_ann {
  position:absolute;
  left:634px;
  top:262px;
  width:1px;
  height:1px;
}
#u56028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56029 {
  position:absolute;
  left:517px;
  top:274px;
  width:85px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56030 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u56031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u56032 {
  position:absolute;
  left:517px;
  top:301px;
  width:6px;
  height:6px;
}
#u56033 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56034 {
  position:absolute;
  left:531px;
  top:294px;
  width:74px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56035 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u56036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56037_img {
  position:absolute;
  left:-4px;
  top:-3px;
  width:144px;
  height:69px;
}
#u56037 {
  position:absolute;
  left:1479px;
  top:380px;
  width:136px;
  height:61px;
}
#u56038 {
  position:absolute;
  left:2px;
  top:22px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56037_ann {
  position:absolute;
  left:1608px;
  top:376px;
  width:1px;
  height:1px;
}
#u56039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56040 {
  position:absolute;
  left:1491px;
  top:388px;
  width:25px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56041 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u56042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u56043 {
  position:absolute;
  left:1491px;
  top:415px;
  width:6px;
  height:6px;
}
#u56044 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56045 {
  position:absolute;
  left:1505px;
  top:408px;
  width:74px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56046 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u56047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56048_img {
  position:absolute;
  left:-4px;
  top:-3px;
  width:144px;
  height:69px;
}
#u56048 {
  position:absolute;
  left:1465px;
  top:629px;
  width:136px;
  height:61px;
}
#u56049 {
  position:absolute;
  left:2px;
  top:22px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56048_ann {
  position:absolute;
  left:1594px;
  top:625px;
  width:1px;
  height:1px;
}
#u56050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56051 {
  position:absolute;
  left:1477px;
  top:637px;
  width:25px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56052 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u56053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u56054 {
  position:absolute;
  left:1477px;
  top:664px;
  width:6px;
  height:6px;
}
#u56055 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56056 {
  position:absolute;
  left:1491px;
  top:657px;
  width:74px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56057 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u56058 {
  position:absolute;
  left:1457px;
  top:146px;
  width:23px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56058_ann {
  position:absolute;
  left:1473px;
  top:142px;
  width:1px;
  height:1px;
}
#u56059 {
  position:absolute;
  left:1444px;
  top:526px;
  width:23px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56059_ann {
  position:absolute;
  left:1460px;
  top:522px;
  width:1px;
  height:1px;
}
#u56060 {
  position:absolute;
  left:213px;
  top:525px;
  width:23px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56060_ann {
  position:absolute;
  left:229px;
  top:521px;
  width:1px;
  height:1px;
}
