
#u56161 {
  position:absolute;
  left:1601px;
  top:804px;
  width:8px;
  height:8px;
}
#u56162 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u56163 {
  position:absolute;
  left:1609px;
  top:797px;
  width:45px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u56164 {
  position:absolute;
  left:8px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u56165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u56165 {
  position:absolute;
  left:1682px;
  top:797px;
  width:63px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u56166 {
  position:absolute;
  left:8px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u56167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u56167 {
  position:absolute;
  left:1776px;
  top:797px;
  width:25px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u56168 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u56169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u56170 {
  position:absolute;
  left:1601px;
  top:842px;
  width:8px;
  height:8px;
}
#u56171 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u56172 {
  position:absolute;
  left:1609px;
  top:835px;
  width:45px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u56173 {
  position:absolute;
  left:8px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u56174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u56174 {
  position:absolute;
  left:1654px;
  top:835px;
  width:63px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u56175 {
  position:absolute;
  left:8px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u56176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u56176 {
  position:absolute;
  left:1776px;
  top:835px;
  width:33px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u56177 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u56178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:109px;
}
#u56179 {
  position:absolute;
  left:1768px;
  top:529px;
  width:109px;
  height:109px;
}
#u56180 {
  position:absolute;
  left:56px;
  top:24px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u56181 {
  position:absolute;
  left:1770px;
  top:531px;
  width:105px;
  height:105px;
}
#u56182 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u56183 {
  position:absolute;
  left:1770px;
  top:531px;
  width:105px;
  height:105px;
}
#u56184 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u56185 {
  position:absolute;
  left:1782px;
  top:543px;
  width:80px;
  height:80px;
}
#u56186 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u56187 {
  position:absolute;
  left:1798px;
  top:560px;
  width:48px;
  height:56px;
  text-align:center;
  line-height:28px;
}
#u56188 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u56189 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u56190 {
  position:absolute;
  left:1763px;
  top:73px;
  width:63px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u56191 {
  position:absolute;
  left:12px;
  top:5px;
  width:43px;
  word-wrap:break-word;
}
#u56190_ann {
  position:absolute;
  left:1819px;
  top:69px;
  width:1px;
  height:1px;
}
#u56192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u56192 {
  position:absolute;
  left:1805px;
  top:83px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u56193 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u56194 {
  position:absolute;
  left:1836px;
  top:73px;
  width:63px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u56195 {
  position:absolute;
  left:12px;
  top:5px;
  width:43px;
  word-wrap:break-word;
}
#u56196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u56196 {
  position:absolute;
  left:1878px;
  top:83px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u56197 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56199_img {
  position:absolute;
  left:-4px;
  top:-3px;
  width:144px;
  height:84px;
}
#u56199 {
  position:absolute;
  left:360px;
  top:643px;
  width:136px;
  height:76px;
}
#u56200 {
  position:absolute;
  left:2px;
  top:30px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56199_ann {
  position:absolute;
  left:489px;
  top:639px;
  width:1px;
  height:1px;
}
#u56201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56202 {
  position:absolute;
  left:372px;
  top:651px;
  width:68px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56203 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u56204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u56205 {
  position:absolute;
  left:372px;
  top:678px;
  width:6px;
  height:6px;
}
#u56206 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56207 {
  position:absolute;
  left:386px;
  top:671px;
  width:74px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56208 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u56209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u56210 {
  position:absolute;
  left:372px;
  top:696px;
  width:6px;
  height:6px;
}
#u56211 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56212 {
  position:absolute;
  left:386px;
  top:691px;
  width:98px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56213 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u56214 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56215_img {
  position:absolute;
  left:-4px;
  top:-3px;
  width:144px;
  height:69px;
}
#u56215 {
  position:absolute;
  left:505px;
  top:266px;
  width:136px;
  height:61px;
}
#u56216 {
  position:absolute;
  left:2px;
  top:22px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56215_ann {
  position:absolute;
  left:634px;
  top:262px;
  width:1px;
  height:1px;
}
#u56217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56218 {
  position:absolute;
  left:517px;
  top:274px;
  width:85px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56219 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u56220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u56221 {
  position:absolute;
  left:517px;
  top:301px;
  width:6px;
  height:6px;
}
#u56222 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56223 {
  position:absolute;
  left:531px;
  top:294px;
  width:74px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56224 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u56225 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56226_img {
  position:absolute;
  left:-4px;
  top:-3px;
  width:144px;
  height:69px;
}
#u56226 {
  position:absolute;
  left:1479px;
  top:380px;
  width:136px;
  height:61px;
}
#u56227 {
  position:absolute;
  left:2px;
  top:22px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56226_ann {
  position:absolute;
  left:1608px;
  top:376px;
  width:1px;
  height:1px;
}
#u56228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56229 {
  position:absolute;
  left:1491px;
  top:388px;
  width:25px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56230 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u56231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u56232 {
  position:absolute;
  left:1491px;
  top:415px;
  width:6px;
  height:6px;
}
#u56233 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56234 {
  position:absolute;
  left:1505px;
  top:408px;
  width:74px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56235 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u56236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56237_img {
  position:absolute;
  left:-4px;
  top:-3px;
  width:144px;
  height:69px;
}
#u56237 {
  position:absolute;
  left:1465px;
  top:629px;
  width:136px;
  height:61px;
}
#u56238 {
  position:absolute;
  left:2px;
  top:22px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56237_ann {
  position:absolute;
  left:1594px;
  top:625px;
  width:1px;
  height:1px;
}
#u56239 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56240 {
  position:absolute;
  left:1477px;
  top:637px;
  width:25px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56241 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u56242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u56243 {
  position:absolute;
  left:1477px;
  top:664px;
  width:6px;
  height:6px;
}
#u56244 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56245 {
  position:absolute;
  left:1491px;
  top:657px;
  width:74px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u56246 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u56247 {
  position:absolute;
  left:1457px;
  top:146px;
  width:23px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56247_ann {
  position:absolute;
  left:1473px;
  top:142px;
  width:1px;
  height:1px;
}
#u56248 {
  position:absolute;
  left:1444px;
  top:526px;
  width:23px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56248_ann {
  position:absolute;
  left:1460px;
  top:522px;
  width:1px;
  height:1px;
}
#u56249 {
  position:absolute;
  left:213px;
  top:525px;
  width:23px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56249_ann {
  position:absolute;
  left:229px;
  top:521px;
  width:1px;
  height:1px;
}
