
#u21243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u21243 {
  position:absolute;
  left:104px;
  top:447px;
  width:61px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u21244 {
  position:absolute;
  left:8px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u21245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u21245 {
  position:absolute;
  left:152px;
  top:456px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u21246 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u21247 {
  position:absolute;
  left:182px;
  top:447px;
  width:61px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u21248 {
  position:absolute;
  left:8px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u21249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u21249 {
  position:absolute;
  left:228px;
  top:456px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u21250 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u21252 {
  position:absolute;
  left:31px;
  top:388px;
  width:49px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u21253 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u21254 {
  position:absolute;
  left:92px;
  top:378px;
  width:324px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u21255 {
  position:absolute;
  left:8px;
  top:13px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21254_ann {
  position:absolute;
  left:409px;
  top:374px;
  width:1px;
  height:1px;
}
#u21256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u21256 {
  position:absolute;
  left:104px;
  top:386px;
  width:61px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u21257 {
  position:absolute;
  left:8px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u21258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u21258 {
  position:absolute;
  left:152px;
  top:395px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u21259 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u21260 {
  position:absolute;
  left:182px;
  top:386px;
  width:61px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u21261 {
  position:absolute;
  left:8px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u21262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u21262 {
  position:absolute;
  left:228px;
  top:395px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u21263 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21264 {
  position:absolute;
  left:353px;
  top:22px;
  width:61px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21265 {
  position:absolute;
  left:16px;
  top:6px;
  width:29px;
  white-space:nowrap;
}
#u21266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u21266 {
  position:absolute;
  left:281px;
  top:22px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u21267 {
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u21268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u21268 {
  position:absolute;
  left:116px;
  top:271px;
  width:127px;
  height:16px;
  color:#1890FF;
}
#u21269 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u21268_ann {
  position:absolute;
  left:236px;
  top:267px;
  width:1px;
  height:1px;
}
#u21270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u21270 {
  position:absolute;
  left:92px;
  top:266px;
  width:28px;
  height:28px;
}
#u21271 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:57px;
}
#u21272 {
  position:absolute;
  left:92px;
  top:304px;
  width:100px;
  height:57px;
}
#u21273 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21274 {
  position:absolute;
  left:281px;
  top:22px;
  width:65px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21275 {
  position:absolute;
  left:353px;
  top:22px;
  width:61px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21275_ann {
  position:absolute;
  left:407px;
  top:18px;
  width:1px;
  height:1px;
}
#u21276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u21276 {
  position:absolute;
  left:259px;
  top:304px;
  width:155px;
  height:44px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u21277 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u21278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21278 {
  position:absolute;
  left:276px;
  top:304px;
  width:20px;
  height:20px;
}
#u21279 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21280 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 242, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 163, 158, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u21281 {
  position:absolute;
  left:17px;
  top:75px;
  width:407px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u21282 {
  position:absolute;
  left:38px;
  top:5px;
  width:353px;
  word-wrap:break-word;
}
#u21283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u21283 {
  position:absolute;
  left:402px;
  top:80px;
  width:9px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u21284 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u21285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u21285 {
  position:absolute;
  left:34px;
  top:83px;
  width:12px;
  height:17px;
  font-family:'anticon Regular', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#F5222D;
}
#u21286 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
