
#u31689 {
  position:absolute;
  left:152px;
  top:395px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u31690 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u31691 {
  position:absolute;
  left:182px;
  top:386px;
  width:61px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u31692 {
  position:absolute;
  left:8px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u31693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u31693 {
  position:absolute;
  left:228px;
  top:395px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u31694 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31695 {
  position:absolute;
  left:353px;
  top:22px;
  width:61px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31696 {
  position:absolute;
  left:16px;
  top:6px;
  width:29px;
  white-space:nowrap;
}
#u31697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u31697 {
  position:absolute;
  left:281px;
  top:22px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u31698 {
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u31699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u31699 {
  position:absolute;
  left:116px;
  top:271px;
  width:127px;
  height:16px;
  color:#1890FF;
}
#u31700 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u31699_ann {
  position:absolute;
  left:236px;
  top:267px;
  width:1px;
  height:1px;
}
#u31701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u31701 {
  position:absolute;
  left:92px;
  top:266px;
  width:28px;
  height:28px;
}
#u31702 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:57px;
}
#u31703 {
  position:absolute;
  left:92px;
  top:304px;
  width:100px;
  height:57px;
}
#u31704 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31705 {
  position:absolute;
  left:281px;
  top:22px;
  width:65px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31706 {
  position:absolute;
  left:353px;
  top:22px;
  width:61px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31706_ann {
  position:absolute;
  left:407px;
  top:18px;
  width:1px;
  height:1px;
}
#u31707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u31707 {
  position:absolute;
  left:259px;
  top:304px;
  width:155px;
  height:44px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u31708 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u31709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31709 {
  position:absolute;
  left:276px;
  top:304px;
  width:20px;
  height:20px;
}
#u31710 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31711 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 242, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 163, 158, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u31712 {
  position:absolute;
  left:17px;
  top:75px;
  width:407px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u31713 {
  position:absolute;
  left:38px;
  top:5px;
  width:353px;
  word-wrap:break-word;
}
#u31714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u31714 {
  position:absolute;
  left:402px;
  top:80px;
  width:9px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u31715 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u31716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u31716 {
  position:absolute;
  left:34px;
  top:83px;
  width:12px;
  height:17px;
  font-family:'anticon Regular', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#F5222D;
}
#u31717 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u31718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u31718 {
  position:absolute;
  left:93px;
  top:508px;
  width:239px;
  height:22px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u31719 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u31718_ann {
  position:absolute;
  left:325px;
  top:504px;
  width:1px;
  height:1px;
}
