body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-7px;
  width:1913px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1913px;
  height:909px;
}
#u23450 {
  position:absolute;
  left:7px;
  top:3px;
  width:1913px;
  height:909px;
}
#u23451 {
  position:absolute;
  left:2px;
  top:446px;
  width:1909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23452 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23453 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23455 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
