body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-7px;
  width:1913px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1913px;
  height:909px;
}
#u18088 {
  position:absolute;
  left:7px;
  top:3px;
  width:1913px;
  height:909px;
}
#u18089 {
  position:absolute;
  left:2px;
  top:446px;
  width:1909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18093 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
