body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-7px;
  width:1913px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1913px;
  height:909px;
}
#u26430 {
  position:absolute;
  left:7px;
  top:3px;
  width:1913px;
  height:909px;
}
#u26431 {
  position:absolute;
  left:2px;
  top:446px;
  width:1909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26432 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26433 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26434 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26435 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
