
#u28945 {
  position:absolute;
  left:182px;
  top:386px;
  width:61px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u28946 {
  position:absolute;
  left:8px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u28947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u28947 {
  position:absolute;
  left:228px;
  top:395px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u28948 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28949 {
  position:absolute;
  left:353px;
  top:22px;
  width:61px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28950 {
  position:absolute;
  left:16px;
  top:6px;
  width:29px;
  white-space:nowrap;
}
#u28951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u28951 {
  position:absolute;
  left:281px;
  top:22px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u28952 {
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u28953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u28953 {
  position:absolute;
  left:116px;
  top:271px;
  width:127px;
  height:16px;
  color:#1890FF;
}
#u28954 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u28953_ann {
  position:absolute;
  left:236px;
  top:267px;
  width:1px;
  height:1px;
}
#u28955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u28955 {
  position:absolute;
  left:92px;
  top:266px;
  width:28px;
  height:28px;
}
#u28956 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:57px;
}
#u28957 {
  position:absolute;
  left:92px;
  top:304px;
  width:100px;
  height:57px;
}
#u28958 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28959 {
  position:absolute;
  left:281px;
  top:22px;
  width:65px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28960 {
  position:absolute;
  left:353px;
  top:22px;
  width:61px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28960_ann {
  position:absolute;
  left:407px;
  top:18px;
  width:1px;
  height:1px;
}
#u28961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u28961 {
  position:absolute;
  left:259px;
  top:304px;
  width:155px;
  height:44px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u28962 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u28963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u28963 {
  position:absolute;
  left:276px;
  top:304px;
  width:20px;
  height:20px;
}
#u28964 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 242, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 163, 158, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u28966 {
  position:absolute;
  left:17px;
  top:75px;
  width:407px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u28967 {
  position:absolute;
  left:38px;
  top:5px;
  width:353px;
  word-wrap:break-word;
}
#u28968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u28968 {
  position:absolute;
  left:402px;
  top:80px;
  width:9px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u28969 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u28970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u28970 {
  position:absolute;
  left:34px;
  top:83px;
  width:12px;
  height:17px;
  font-family:'anticon Regular', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#F5222D;
}
#u28971 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u28972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u28972 {
  position:absolute;
  left:93px;
  top:508px;
  width:239px;
  height:22px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u28973 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u28972_ann {
  position:absolute;
  left:325px;
  top:504px;
  width:1px;
  height:1px;
}
