
#u34696 {
  position:absolute;
  left:313px;
  top:80px;
  width:35px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34697 {
  position:absolute;
  left:37px;
  top:166px;
  width:546px;
  height:603px;
  overflow:hidden;
  visibility:hidden;
}
#u34697_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:603px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34697_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:539px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u34698 {
  position:absolute;
  left:8px;
  top:11px;
  width:424px;
  height:539px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u34699 {
  position:absolute;
  left:16px;
  top:262px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u34700 {
  position:absolute;
  left:8px;
  top:11px;
  width:424px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u34701 {
  position:absolute;
  left:24px;
  top:16px;
  width:376px;
  word-wrap:break-word;
}
#u34702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u34702 {
  position:absolute;
  left:33px;
  top:112px;
  width:50px;
  height:48px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u34703 {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  white-space:nowrap;
}
#u34704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u34704 {
  position:absolute;
  left:19px;
  top:399px;
  width:64px;
  height:48px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u34705 {
  position:absolute;
  left:0px;
  top:5px;
  width:64px;
  white-space:nowrap;
}
#u34706 {
  position:absolute;
  left:91px;
  top:96px;
  width:325px;
  height:98px;
}
#u34706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:98px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u34707 {
  position:absolute;
  left:34px;
  top:217px;
  width:50px;
  height:48px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u34708 {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  white-space:nowrap;
}
#u34709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u34709 {
  position:absolute;
  left:92px;
  top:395px;
  width:324px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u34710 {
  position:absolute;
  left:8px;
  top:13px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34709_ann {
  position:absolute;
  left:409px;
  top:391px;
  width:1px;
  height:1px;
}
#u34711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u34711 {
  position:absolute;
  left:104px;
  top:403px;
  width:61px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u34712 {
  position:absolute;
  left:8px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u34713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u34713 {
  position:absolute;
  left:152px;
  top:412px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u34714 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u34715 {
  position:absolute;
  left:182px;
  top:403px;
  width:61px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u34716 {
  position:absolute;
  left:8px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u34717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u34717 {
  position:absolute;
  left:228px;
  top:412px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u34718 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34719 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u34720 {
  position:absolute;
  left:31px;
  top:344px;
  width:49px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u34721 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u34722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u34722 {
  position:absolute;
  left:92px;
  top:334px;
  width:324px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u34723 {
  position:absolute;
  left:8px;
  top:13px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34722_ann {
  position:absolute;
  left:409px;
  top:330px;
  width:1px;
  height:1px;
}
#u34724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u34724 {
  position:absolute;
  left:104px;
  top:342px;
  width:61px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u34725 {
  position:absolute;
  left:8px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u34726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u34726 {
  position:absolute;
  left:152px;
  top:351px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u34727 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u34728 {
  position:absolute;
  left:182px;
  top:342px;
  width:61px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u34729 {
  position:absolute;
  left:8px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u34730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u34730 {
  position:absolute;
  left:228px;
  top:351px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u34731 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u34732 {
  position:absolute;
  left:353px;
  top:22px;
  width:61px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u34733 {
  position:absolute;
  left:16px;
  top:6px;
  width:29px;
  white-space:nowrap;
}
#u34734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u34734 {
  position:absolute;
  left:281px;
  top:22px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u34735 {
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u34736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u34736 {
  position:absolute;
  left:116px;
  top:227px;
  width:127px;
  height:16px;
  color:#1890FF;
}
#u34737 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u34736_ann {
  position:absolute;
  left:236px;
  top:223px;
  width:1px;
  height:1px;
}
#u34738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u34738 {
  position:absolute;
  left:92px;
  top:222px;
  width:28px;
  height:28px;
}
#u34739 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:57px;
}
#u34740 {
  position:absolute;
  left:92px;
  top:260px;
  width:100px;
  height:57px;
}
#u34741 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34742 {
  position:absolute;
  left:281px;
  top:22px;
  width:65px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34743 {
  position:absolute;
  left:353px;
  top:22px;
  width:61px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34743_ann {
  position:absolute;
  left:407px;
  top:18px;
  width:1px;
  height:1px;
}
#u34744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u34744 {
  position:absolute;
  left:259px;
  top:260px;
  width:155px;
  height:44px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u34745 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u34746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u34746 {
  position:absolute;
  left:276px;
  top:260px;
  width:20px;
  height:20px;
}
#u34747 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u34748 {
  position:absolute;
  left:93px;
  top:464px;
  width:239px;
  height:22px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u34749 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u34748_ann {
  position:absolute;
  left:325px;
  top:460px;
  width:1px;
  height:1px;
}
